/bin
/lib/potion
/tools/config.c
/config.inc
/core/config.h
/core/version.h
/core/vm-arm.c
/core/pn-scan.c
/core/pn-gram.[ch]
/core/pn-gram.out
/core/*.[io]
/core/*.o2
/core/*.opic
/core/*.opic2
/front/*.[io]
/front/*.o2
/front/*.opic
/front/*.opic2
/syn/syntax*.c
/syn/*.[io]
/syn/*.o2
/syn/*.opic
/syn/*.opic2
/test/api/*.o
/config.inc
/.gdbinit
*.pnb
._*
.DS_Store
readline.so
readline.dll
readline.bundle
/lib/readline/readline.bundle.dSYM
/lib/libpotion.a
/lib/libpotion.so
/lib/libpotion.dll
/lib/libpotion.dylib
/lib/libp2.a
/lib/libp2.so
/lib/libp2.dll
/lib/libp2.dylib
/history.txt
/pkg
/doc/*.html
/TAGS
/GPATH
/GRTAGS
/GTAGS
/HTML
/doc/html
/doc/latex
/README.md
/doc/footer.inc
