[submodule "3rd/libuv"]
	path = 3rd/libuv
	url = git://github.com/joyent/libuv.git
[submodule "3rd/pcre"]
	path = 3rd/pcre
	url = git://github.com/Distrotech/pcre.git
	branch = master
[submodule "3rd/libtommath"]
	path = 3rd/libtommath
	url = git://github.com/libtom/libtommath.git
