[submodule "lib/libtommath"]
	path = lib/libtommath
	url = git://github.com/libtom/libtommath.git
[submodule "3rd/libuv"]
	path = 3rd/libuv
	url = git://github.com/joyent/libuv.git
[submodule "3rd/sregex"]
	path = 3rd/sregex
	url = git://github.com/agentzh/sregex.git
