/potion
/potion.exe
/p2
/p2.exe
/syn/greg
/syn/greg.exe
/potion-s
/potion-s.exe
/p2-s
/p2-s.exe
/tools/config.c
/config.inc
/core/config.h
/core/version.h
/core/vm-arm.c
/core/pn-scan.c
/core/pn-gram.[ch]
/core/pn-gram.out
/core/*.[io]
/core/*.o2
/core/*.opic
/core/*.opic2
/front/*.[io]
/front/*.o2
/front/*.opic
/front/*.opic2
/syn/syntax*.c
/syn/*.[io]
/syn/*.o2
/syn/*.opic
/syn/*.opic2
/test/api/potion-test
/test/api/potion-test.exe
/test/api/p2-test
/test/api/p2-test.exe
/test/api/gc-test
/test/api/gc-test.exe
/test/api/*.o
/config.inc
/.gdbinit
*.pnb
._*
.DS_Store
readline.so
readline.dll
readline.bundle
/libpotion.a
/libpotion.so
/libpotion.dll
/libpotion.dylib
/libp2.a
/libp2.so
/libp2.dll
/libp2.dylib
/history.txt
/pkg
/doc/*.html
/TAGS
/GPATH
/GRTAGS
/GTAGS
