/potion
/potion.exe
/p2
/p2.exe
/syn/greg
/syn/greg.exe
/tools/config.c
/config.inc
/core/config.h
/core/version.h
/core/pn-scan.c
/core/pn-gram.[ch]
/core/pn-gram.out
/core/*.i
/core/*.o
/core/*.opic
/core/*.o2
/core/*.opic2
/front/*.i
/front/*.o
/syn/syntax*.c
/syn/*.i
/syn/*.o
/syn/*.opic
/test/api/potion-test
/test/api/potion-test.exe
/test/api/p2-test
/test/api/p2-test.exe
/test/api/gc-test
/test/api/gc-test.exe
/test/api/*.o
/config.inc
*.pnb
._*
.DS_Store
readline.so
readline.dll
readline.bundle
/libpotion.a
/libpotion.so
/libpotion.dll
/libpotion.dylib
/libp2.a
/libp2.so
/libp2.dll
/libp2.dylib
/history.txt
/TAGS
/pkg
/doc/*.html
