body {
  font: normal 14px arial, sans-serif;
  line-height: 140%;
  margin: 0; padding: 40px 0 180px 0;
}
h1, h4 {
  text-align: center;
}
h1, h2, h4 {
  color: #F39;
}
h3 {
  margin-top: 30px;
  color: #6C0;
}
h2 {
  margin-top: 40px;
}
#potion {
  text-align: center;
  margin-bottom: 1px;
}

hr {
  height: 3px;
  border: none;
  border-top: solid 1px #EEE;
  border-bottom: solid 1px #F39;
}
#central {
  max-width: 740px;
  margin: 40px auto;
}
pre {
  font: Monaco, Liberation Mono, monospace;
  background: #9F3;
  color: #500;
  font-weight: bold;
}
