<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="USERNAME" />
   <!-- <link href="http://feeds.feedburner.com/USERNAME-github-com-REPONAME" rel="alternate" title="USERNAME" type="application/atom+xml" /> -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">USERNAME</a>
    &middot; <a class="extra" href="http://github.com/USERNAME/REPONAME">REPONAME</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        REPONAME<br />
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/USERNAME/">github.com/USERNAME</a><br />
      </p>
    </div>
    <div class="rss">
      <!-- <a href="http://feeds.feedburner.com/USERNAME-github-com-REPONAME"><img src="/images/rss.png" alt="Subscribe to RSS Feed" /></a> -->
    </div>
  </div>
</div>

<a href="http://github.com/USERNAME"><img style="position: absolute; top: 0; right: 0; border: 0;" src="/images/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

<!-- <script type="text/javascript"> -->
<!-- var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www."); -->
<!-- document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E")); -->
<!-- </script> -->
<!-- <script type="text/javascript"> -->
<!-- var pageTracker = _gat._getTracker("UA-XXXXXXX-X"); -->
<!-- pageTracker._trackPageview(); -->
<!-- </script> -->

</body>
</html>
