<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="css/styles.css" type="text/css" media="screen">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <meta charset="utf-8">
    <meta name="description" content="Potion: an interpreted, object-oriented programming language.">
  </head>
  <body>
    <img id="forkme" src="images/forkme_right_red.png">
    <h1>
      {{ page.title | replace_first:'Potion','<img id="logo" src="images/potion.png">' }}
    </h1>
    <div id="sidebar">
      <ul id="sidebar-links">
        <li><a href="index.html">Home</a></li>
        <li><a href="pamphlet.html">Pamphlet</a></li>
        <li><a href="download.html">Download</a></li>
      </ul>
      <div id="sidebar-border"></div>
    </div>
    <div id="content">
      {{ content }}
    </div>
  </body>
</html>